{% extends "signup/faculty/components/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Set Max Student Count{% endblock title %}

{% block resources %}
{{ block.super }}
{% if DEBUG %}
<script src="https://unpkg.com/vue@3"></script>
{% else %}
<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
{% endif %}

{{ script_data|json_script:"script_data" }}
{% endblock resources %}

{% block content %}
<h1>Set the Maximum Number of Students on a Specific Day</h1>
<p>Please fill out the following form to set the maximum amount of students on a specific day:</p>
<form method="post">
    {% csrf_token %}

    {{ form|as_crispy_errors }}

    {% verbatim %}
    <div id="app">
        <div class="btn-group mb-3">
            <button type="button" class="btn btn-primary" :class="{ active: !overRange }" @click.stop="overRange = false">Single day</button>
            <button type="button" class="btn btn-primary" :class="{ active: overRange }" @click.stop="overRange = true">Multiple days</button>
        </div>

        <div class="mb-3">
            <label class="form-label requiredField" for="startDate"><span v-if="overRange">Start date</span><span v-else>Date</span><span class="asteriskField">*</span></label>
            <input type="date" class="form-control" name="start_date" id="startDate" v-model="startDateValue" placeholder="YYYY-MM-DD">
        </div>

        <div class="mb-3" v-if="overRange">
            <label class="form-label requiredField" for="endDate">End date<span class="asteriskField">*</span></label>
            <input type="date" class="form-control" name="end_date" id="endDate" v-model="endDateValue" placeholder="YYYY-MM-DD">
        </div>
    </div>
    {% endverbatim %}

    {% for field in form %}
    {{ field|as_crispy_field }}
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Submit">
</form>

<script src="{% static 'signup/faculty/future_form.js' %}"></script>
{% endblock content %}