{% extends "signup/faculty/components/base.html" %}

{% block title %}Class Periods in the {% if future %}Future{% else %}Past{% endif %}{% endblock title %}

{% block content %}
<h1>Class Periods {% if future %}Today and in the Future{% else %}in the Past{% endif %}</h1>
{% if future %}
<a class="btn btn-primary" href="{% url 'future_class_periods_new' %}">Plan for new day</a>
<a class="btn btn-primary" href="{% url 'past_class_periods_list' %}">See past class periods</a>
{% else %}
<a class="btn btn-primary" href="{% url 'future_class_periods_list' %}">See class periods today and in the future</a>
{% endif %}

{% if periods_grouped %}
<table class="table">
    <thead>
        <tr>
            <th scope="col" class="fit">Date</th>

            {% for number in period_numbers %}
            <th scope="col" class="fit">{{ number }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for date, periods in periods_grouped %}
        <tr>
            <td scope="col" class="fit">
                {% if date == date_today %}<span class="fw-bold">Today, </span>{% endif %}{{ date|date:"l, F j, Y" }}
                {% if future %} - <a href="{% url 'future_class_periods_existing' date %}">Edit</a>{% endif %}
            </td>

            {% for period in periods %}
            <td scope="col" class="fit">{{ period.max_student_count }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% endif %}

    <li class="page-item disabled"><span class="page-link text-dark">Page {{ page_obj.number }} of {{page_obj.paginator.num_pages}}</span></li>

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    {% endif %}
</ul>
{% else %}
<p>There are no class periods to display here.</p>
{% endif %}
{% endblock content %}