{% extends "signup/components/base.html" %}

{% block title %}Success{% endblock title %}

{% block content %}
<style>
    ul {
        list-style-type: none;
    }
</style>

{% if periods %}
<p>You have successfully signed up to use the Media Center during the following class periods:</p>
<ul>
    {% for period in periods %}
    <li>Period {{ period.number }}</li>
    {% endfor %}
</ul>
{% else %}
<p>You haven't signed up to use the Media Center during any of today's class periods.</p>
{% endif %}
<p><a href="{% url 'student_sign_up_form' %}">Click here</a> to go back.</p>
{% endblock content %}